:root {
    --primary-color: rgb(29, 29, 63);
    --secondary-color: tan;
    --accent1-color: rgb(6, 6, 65);
    --accent2-color: sandybrown;
    --heading-font: "times new roman", "Georgia", serif;
    --body-font: "Arial", "Helvetica", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent2-color);
    display: block;
    padding: 10px;
}

nav, p, article {
    margin: 16px;
    padding: 8px;
}

section {
    margin: 16px 0px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 15px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent2-color);
    color: #000000;
}

.hero article {
    position: absolute;
    bottom: 20px;
    text-align: left;
    background-color: var(--accent2-color);
    opacity: 0.8;
}

.hero article img {
    float: right;
    width: 75px;
}