:root {
    --primary-color: rgb(29, 29, 63);
    --secondary-color: tan;
    --accent1-color: rgb(6, 6, 65);
    --accent2-color: sandybrown;
    --heading-font: "times new roman", "Georgia", serif;
    --body-font: "Arial", "Helvetica", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    background: linear-gradient(to bottom, var(--accent2-color) 90%, white);
}

nav, p, article {
    margin: 16px;
    padding: 8px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-right: none;
}

ul a {
    padding: 10px;
    width: 125px;
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    background-color: lightblue;
    display: block;
    border-right: 1px solid rgb(0 0 0 / 100%);
}

section {
    margin: 16px 0px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 15px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--secondary-color);
    color: #000000;
}

.hero article {
    position: absolute;
    bottom: 20px;
    text-align: left;
    background-color: var(--secondary-color);
    opacity: 0.8;
}

.hero article img {
    float: right;
    width: 75px;
}

.history-section {
    border: 2px solid black;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.history img {
    width: 200px;
    height: auto;
}

.adventure-section {
    border: 2px solid black;
}

.adventure {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    
}

.adventure figure {
    text-align: center;
}

.adventure figure img {
    width: 150px;
    height: auto;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
    background-color: var(--accent2-color);
}

footer .socialmedia {
    grid-column-start: 4;
    grid-column-end: 5;
}

footer img {
    width: 40px;
}

footer p {
    grid-column-start: 2;
    grid-column-end: 4;
    margin: 0 auto;
    text-align: center;
}

.contact-info p {
    text-align: center;
    margin: 2px;
    padding: 0;
}

.contact-info h1 {
    position: static;
    width: auto;
    background: none;
    opacity: 1;
}

.map-container {
    width: 100%;
    height: auto;
}

.map-container iframe {
    width: 100%;
    height: 300px;
}

.contact-form-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form-section form {
    padding: 20px;
}

.form-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 1rem;
}

.radio-group {
    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.message label {
    margin-bottom: 5px;
}

.checkbox {
    margin-bottom: 16px;
}

.checkbox input {
    margin-right: 5px;
}

.formbutton button {
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}

.employees-section {
    text-align: center;
    background-color: rgb(211, 211, 211);
    padding: 10px;
    border-radius: 5px;
}

.employee-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.contact-trips-home-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.contact-trips-home-page .Call-to-action {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-trips-home-page form{
    padding: 20px;
}

.contact-form {
    border: 1px solid black;
    margin-right: 10px;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
}

.Call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    border: 1px solid black;
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
}

.Call-to-action a {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--accent2-color);
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black;
}

.Call-to-action p {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.gear-section {
    text-align: center;
    background-color: rgb(211, 211, 211);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 10px;
}

.rafting-gear-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rafting-gear-section figure {
    text-align: center;
}

.rafting-gear-section figure img {
    width: 150px;
    height: auto;
}

.trips-section {
    text-align: center;
    background-color: rgb(211, 211, 211);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.trips-packages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 10px;
}

.Book-now-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgb(211, 211, 211);
}

.Book-now-section a {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--accent2-color);
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black;
}

.Book-now-section p {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}