:root {
    --heading-font: "times new roman", "Georgia", serif;
    --body-font: "Arial", "Helvetica", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
}

h1 {
    font-family: var(--heading-font);
    text-align: center;
}

form {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: rgb(235, 232, 232);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    border-radius: 8px;
}

fieldset legend {
    color: rgb(78, 34, 149);
    font-size: 1.5rem;
}

label {
    font-size: 1.2rem;
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.2rem;
}

input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: bottom;
}

button {
    margin: 1rem auto;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background-color: lightgray;
}

button:hover {
    background-color: lightblue;
}

footer {
    border-top: 1px solid rgb(0 0 0 / 0.2);
    margin: 1rem auto 0;
    padding: 10px;
    text-align: center;
    font-size: 0.7em;
    width: 1000px;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: .5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}