:root{
    --primary-color: darkblue;
    --secondary-color: lightblue;
    --accent-color: #000;
    --background-color: #fff;
    --text-color: #000;
    --border-color: #000;
    --shadow-color: #808080;
    --font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer, .grid {
    width: 840px;
    margin: 0 auto;
    text-align: center;
}

.grid {
    display: grid;
    align-items: center;
}
    
aside {
  width: 20rem;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}

nav{
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: #000;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size:1.2rem;
    font-weight: 700;
}
main{
    max-width: 640px;
    grid-column: 2/3;
    margin: 1rem;
}
h1{
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    margin: 1rem 0;
}
main img{
    width: 12rem;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    margin: 1rem 0 1rem 1rem;
    box-shadow: 0 0 30px var(--shadow-color);
    float: right;
}
p {
    padding: 1rem;
    text-align: left;
}
aside{
    position: relative;
    width: 20rem;
    margin: 10px 0;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
}

aside h2{
    position: absolute;
    top: 10px;
    left: 30px;
}

aside img{
    width: 250px;
    height: auto;
    margin: 10px;
    box-shadow: 0 0 30px var(--shadow-color);
}

ul {
    list-style-type: none;
}

footer{
    margin-top: 50px;
    border-top: 1px solid var(--border-color);
}

.footer-text {
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}