:root{
    --primary-color: darkblue;
    --secondary-color: lightblue;
    --accent-color: #000;
    --background-color: #fff;
    --text-color: #000;
    --border-color: #000;
    --shadow-color: #808080;
    --font-family: Arial, sans-serif;
}

nav{
    background-color: var(--primary-color);
    padding: 10px;
}
nav a {
    color: var(--background-color);
    display: block;
    padding: 20px;
}
main{
    width: 600px;
    max-width: 600px;
}
h1{
    color: var(--primary-color);
}
main img{
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
}
p {
    padding: 0px;
}
aside{
    width: 600px;
    margin: auto;
    text-align: center;
    border: 1px solid var(--border-color);
    padding: 1.5rem;
    background-color: lightgrey;
    color: var(--text-color);
}

aside img{
    width: 200px;
    height: auto;
    box-shadow: 0 0 30px var(--shadow-color);
}

footer{
    margin-top: 50px;
    border-top: 1px solid var(--border-color);
    text-align: center;
}