:root{
    --primary-color: darkblue;
    --secondary-color: lightblue;
    --accent-color: #000;
    --background-color: #fff;
    --text-color: #000;
    --border-color: #000;
    --shadow-color: #808080;
    --font-family: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: var(--primary-color);
    padding: 10px;
}
nav a {
    color: var(--background-color);
    display: block;
    padding: 5px;
}
main{
    width: 600px;
    max-width: 600px;
}
h1{
    color: var(--primary-color);
}
main img{
    width: 100px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
    float: right;
}
p {
    padding: 0px;
}
aside{
    position: relative;
    width: 600px;
    text-align: center;
}

aside h2{
    position: absolute;
    top: 40px;
    right: 175px;
}

aside img{
    width: 300px;
    height: auto;
    margin-bottom: 10px;
    box-shadow: 0 0 30px var(--shadow-color);
}

footer{
    margin-top: 50px;
    border-top: 1px solid var(--border-color);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}