nav{
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
main{
    width: 600px;
}
h1{
    color: darkblue;
}
main img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0px;
}
aside{
    width: 600px;
    margin: auto;
    text-align: center;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1.5rem;
    background-color: lightgrey;
    color: black;
}

aside img{
    width: 200px;
    height: auto;
    box-shadow: 0 0 30px gray;
}

footer{
    margin-top: 50px;
    border-top: 1px solid #222;
    text-align: center;
}