* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(72, 67, 67);
    color: white;
    padding: 0.2rem 0;
    text-align: center;
    font-size: 2rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 20px;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px gray;
}

section {
    background-color: rgb(230, 230, 230);
    padding: 20px;
    margin: 30px 0;
    border: 1px solid rgb(0, 0, 0, 0.1);
}

section p {
    padding: 10px 10px;
}

h2 {
    border-bottom: 1px solid #222;
    padding: 0 0 3px 0;
}

ul {
    padding: 10px 30px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(72, 67, 67);
    color: white;
}
